@import url('../style.css');

@font-face {
    font-family: Roboto-Regular;
    src: url("../fonts/Roboto/Roboto-Regular.ttf");
}

.bio-main-container {
    padding-top: var(--spacing-12);
    height: 40vh;
}
.bio-grid-container {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-areas:
    "bio bio img";
}
.bio-grid-title {
    grid-area: bio;
    font-family: Roboto-Regular;
    font-size: 2em;
    margin: auto 10px;
}
.bio-grid-img {
    grid-area: img;
    border-radius: 100%;
    margin: 15px;
}
