@import url('../style.css');

@font-face {
    font-family: Roboto-Regular;
    src: url("../fonts/Roboto/Roboto-Regular.ttf");
}

.bio-main-container {
    padding-top: var(--spacing-12);
    margin-top: 4em;
}
.bio-grid-container {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-areas:
    "bio bio img";
}
.bio-grid-title {
    grid-area: bio;
    font-family: Roboto-Regular;
    font-size: 2em;
    margin: auto 10px;
    color: var(--color-blog-primary)
}
.bio-grid-img {
    grid-area: img;
    border-radius: 100%;
    margin: 15px;
    -webkit-filter: drop-shadow(5px 5px 5px #222);
    filter: drop-shadow(5px 5px 5px #222);
}

/* Media queries */

@media (max-width: 42rem) {
    .bio-main-container {
        padding-top: var(--spacing-8);
        margin-top: 2em;
    }
    .bio-grid-container {
        display: grid;
        grid-template-columns: auto 200px auto;
        grid-template-rows: auto auto;
        grid-template-areas:
        ". img ."
        "bio bio bio";
    }
}
