@font-face {
    font-family: Roboto-Regular;
    src: url("../fonts/Roboto/Roboto-Regular.ttf");
}

@font-face {
    font-family: Roboto-Black;
    src: url("../fonts/Roboto/Roboto-Black.ttf");
}

@font-face {
    font-family: Roboto-Light;
    src: url("../fonts/Roboto/Roboto-Light.ttf");
}

@font-face {
    font-family: Roboto-Bold;
    src: url("../fonts/Roboto/Roboto-Bold.ttf");
}

@font-face {
    font-family: Roboto-Medium;
    src: url("../fonts/Roboto/Roboto-Medium.ttf");
}

.navbar-main {
    display: grid;
    grid-template-areas: 
    "navLeft navRight";
    height: 40px;
    padding-top: 1em;
}
.navbar-left {
    display: grid;
    height: 100%;
    grid-area: navLeft;
    grid-template-columns: repeat(3, 1fr);
    grid-template-areas: 
    "logo . .";
}
.navbar-right {
    display: grid;
    height: 100%;
    grid-template-columns: auto 100px 100px;
    grid-area: navRight;
    grid-template-areas:
    ". home about";
}
.navbar-logo {
    grid-area: logo;
    margin: 0.5em;
    text-align: center;
}
.navbar-home {
    grid-area: home;
    margin: 0.5em;
    text-align: center;
}
.navbar-about {
    grid-area: about;
    margin: 0.5em;
    text-align: center;
}
.navbar-heading {
    font-family: Roboto-Medium;
    text-align: left;
    font-size: large;
}
.navbar-heading:hover{
    cursor: pointer;
}

.navbar-link {
    text-decoration: none;
    color: black;
}
.navbar-link:hover {
    color: purple;
}